* {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #3790ad;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: flex-start;
}

nav div{
    height: 30px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

nav div img {
    height: 100%;
}

.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #e0e0e0;
}

#user-container {
  display: flex;
  justify-content: flex-end;
}

section {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 60%;
    margin: 0px auto;
}

section ul {
  display: inline-block;
  border-radius: 15px;
    width: 80%;
    margin: 30px;
    padding: 0px;
    background-color: #ffffff;
}

section ul li {
    box-shadow: 0px 2px 15px #888888;
    border-radius: 10px;
    background-color: #ffffff;
    list-style: none;
}

section ul li img{
  width: 100%;
}


section ul li header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section ul li header div {
    height: 30px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

section ul li header div img {
  height: 30px;
  width: 30px;
}

.postsection-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section ul li footer {
    height: 30px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

section ul li footer > input {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

section ul li footer input:hover{
    box-shadow: 0px 2px 15px #888888;
    text-decoration: none;
}

.postsection-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.date-text {
  color: grey;
  font-weight: lighter;
}

.postsection-text {
  padding: 10px;
}

/*-----------------------------------------------------*/

div.login-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;

    width: 70vmin;
    min-width: 300px;
    height: 40vmax;
    min-height: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.25);

}

.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

input::placeholder{
    opacity: 0.6;
}

input {

    margin: 5px;
}

.login-container h2{
    font-size: 2.2vmax;
    max-font-size: 10px;
}
